*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    border: 1px solid;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;

}

.front{
    background-color: red;
}

.back{
    background-color: blue;
    transform: rotate3d(0, 1, 0, 180deg);
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip{
    transform: rotate3d(0, 1, 0, 180deg);
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
}